# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
dist/
eggs/
*.egg-info/
bin/
include/
lib/
local/
man/
share/
pip-wheel-metadata/
htmlcov/
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover
*.log
*.pid
*.cfg
*.conf
*.ini
*.pyc
*.swp
*.bak
*.tmp
*.out
*.vscode/

# Network checkpoint files
*.ckpt
*.pt

# Data png files
*.png

# CUT training symlinks
trainA
trainB

# Autoannotation files
*auto_annotate_labels*

# Python virtual envs
venv

# YOLO traininng datasets
yolo_dataset

# Evaluation folders
gan_evaluation_*
diffusion_evaluation_*
sim_evaluation_*